*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #F2F3F7;
}

a{
  text-decoration: none;
}

.logo{
  width: 100%;
  padding: 16px;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 10px 7px -8px rgba(0,0,0,0.19);
-webkit-box-shadow: 1px 10px 7px -8px rgba(0,0,0,0.19);
-moz-box-shadow: 1px 10px 7px -8px rgba(0,0,0,0.19);
display: flex;
justify-content: space-between;

}

.logo img{
  width: 200px;
}

.right__side{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.videocall {
  padding: 8px 16px;
  display: flex;
  color : #8598AD;
  align-items: center;
  border : 1px solid #8598AD;
  border-radius: 23px;
  margin-right: 48px;
  cursor: pointer;
}

.videocall i {
  margin-right: 16px;
  font-size: 20px;
}

.profile{
  display: flex;
  align-items: center;
  border-left : 2px solid #8598AD;
}

.profile__image
  {
    margin: 0 16px 0 48px;
  }
.profile__image img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 2px 2.5px 2px 2px;
  border : 2.5px solid #266C62;
}

.profile a{
  text-decoration: underline;
  color: #8598AD;
}

.main__body{
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar{
  min-height: 95vh;
  background: #3E5BDB;
  position: relative;
}



.footer{
  position: absolute;
  bottom: 0;
  padding: 32px;
  text-align: center;
  border-top : 1px solid white;
  color: white;
  width: 100%;
}

.footer p{
  font-size: 10px;
  font-weight: 300px;
}

.center__content{
  margin: 48px;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -webkit-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -moz-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12); */

  filter: drop-shadow(0px 3px 11.5px rgba(0,0,0,0.16));
}

.sidebar li{
  width: 100%;
  padding: 24px 32px;
}

.sidebar a{
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  color: #cbd1d6;
  font-weight: 300;
}

.sidebar li.active a{
  color : white;
  display: flex;
}

.sidebar a img{
  width: 16px;
  margin-right: 16px;
}

.sidebar i {
  margin-right: 8px;
  width: 20px;
}



.sidebar li.active {
  background: linear-gradient(to right , #36CADB , #56E7BC);
}

.sidebar li.active i , .inner__sidebar li.active a{
  color : white;
}

.sidebar li.active a{
  font-weight: 700;
}

.center__content{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.inner__sidebar{
  border-right: 2px solid #F2F3F7;
}

.inner__sidebar li {
  border-bottom: 2px solid #F2F3F7;
  text-align: center;
  padding: 24px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.inner__sidebar li.dropdownItems{
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  padding: 0;
  margin-top: -2px;
}

.inner__sidebar li.dropdownItems a{
  margin-top: 8px;
}

.inner__sidebar li p{
  color : #ACB1B9;
  cursor: pointer
}

.inner__sidebar li div a{
  display: block;
  margin-bottom: 8px;
}



.inner__sidebar li a{
  color : #ACB1B9;
  text-decoration: none;
}

.inner__sidebar li i{
  color : #ACB1B9;
  margin-left: 8px;
  align-self: center;
}

.inner__sidebar li.active{
  background: #405ADA;
}

.inner__sidebar li.hover:hover{
    background: #405ADA;
    transition: 0.5s;
}



.inner__sidebar li.hover:hover a , .inner__sidebar li.hover:hover p , .inner__sidebar li.hover:hover i{
  color : white;
}

.content{
  padding: 32px 40px;
}

.title{
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color : #858588;
}

.title.comment {
  margin-top: 48px;
  font-size: 24px;
}

.heading{
  font-size: 18px;
  color : #858588;
}

.contacts .profile{
  border : 0;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 32px;
  margin-top: 16px;
}

.contacts .profile{
  background-color: white;
  border-radius: 8px;
  display: block;
  border-bottom : 6px solid #F2F3F7;
}

.contacts .profile.active ,.contacts .profile:hover{
  filter: drop-shadow(0px 3px 11.5px rgba(0,0,0,0.16));
  border-bottom: 6px solid #36CADB;
  transition: 0.5s;
}

.profile .background{
  width: 100%;
  height: 100px;
  background-color: #F2F3F7;
  border-radius: 8px;

}

.profile.active .background , .profile:hover .background{
  background: linear-gradient(to right , #36CADB , #56E7BC);
  transition: 0.5s;
}

.image{
  border-radius: 50%;
  width: 100px;
  height: 99px;
  margin: auto;
  margin-top: -50px;
  background: white;
  filter: drop-shadow(0px 3px 11.5px rgba(0,0,0,0.16));

}

.image img{
  padding: 6px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.details .name{
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
}

.details .position{
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  color: rgba(0,0,0,0.5);
  letter-spacing: 1px;
  margin-bottom: 8px;

}


.divider{
  width: 100%;
  height: 3px;
 background: linear-gradient(to right , #36CADB , #56E7BC);
 border-radius: 8px;
 margin-top: 32px;
}

.chatting{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 16px;
  margin-top: 32px;
}

.chat_area {
  border : 3px solid #56E7BC;
  width: 100%;
  border-radius: 16px;
}

.chats{
  position: relative;
  overflow-y: scroll;
  max-height: 500px;
  height: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 16px;
}

.chats::-webkit-scrollbar {
  display: none;
}

.message{
  margin: 8px;
  display: flex;
  align-items: center;
}

.message.sent{
  flex-direction: row-reverse;
  color : white;
}

.message.sent .content{
  background : linear-gradient(to right , #36CADB , #56E7BC);
  border : 0;
  margin-right:  8px;
  color : white;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatting .content{
  border : 1px solid black;
  border-radius: 8px;
  max-width: 70%;
  padding: 8px;
  margin-left: 8px;
  color : rgba(0,0,0,0.5)
}




.notes__div{
  width: 100%;
  height: 95%;
  border : 3px solid #56E7BC;
  border-radius: 8px;
  padding: 4px;
}

.notes textarea{
  width: 100%;
  max-width: 100%;
  height: 100%;
  border : 0;
}

.notes textarea:focus , .notes textarea:focus {
  border : 0;
  outline: 0;
}


.send__messages{
  margin-top: 8px;
  padding: 16px;
  border-top : 2px solid  #F2F3F7;
  display: flex;
  align-items: center;
  position: relative;
}

.send__messages i{
  color : #36CADB;
  font-size: 22px;
  margin-right: 8px;
  cursor: pointer;
}

.send__messages input {
  width: 95%;
  padding: 8px;
  border-radius: 20px;
  border : 1px solid rgba(0,0,0,0.5);
  padding-right: 50px;
}


.send__messages input:focus{
  outline: 0;
}

.send {
  padding: 10px 32px;
  border : none;
  background: #56E7BC;
  border-radius: 22px;
  color : white;
  margin-left: -66px;
  cursor: pointer

}

#file{
  display: none;
}


.add__user{
  position: absolute;
  top : -165%;
  left : 10%;
  background: white;
  border-radius: 8px;
  padding: 16px;
  opacity: 0;
  visibility: hidden;;
  transition: 0.5s;
}

.add__user p{
  cursor: pointer;
}

.add__user.active{
  opacity: 1;
  visibility: visible;
}

/* Responsive CSs */

.main__body{
  position: relative;
}

.fa-bars{
  display: none;
}

.sidebar__mobile{
  position: absolute;
  left: 0;
  top : 0px;
  height: 100%;
  transition: 0.5s ease-out;
  z-index: 3;
  width: 0;
  overflow: hidden;
  min-height: 95vh;
}

.sidebar__mobile .sidebar{
  display: block;
  height: 100%;
}

.sidebar__mobile.active{
  width: 350px;
}

.logo .left__side{
  display: flex;
  align-items: center;
}

.right__Content .title a{
  color : #8598AD;
}

.logo .left__side i{
  font-size: 20px;
  margin-right: 16px;
  cursor: pointer;
  color : #8598AD;
}

.left-arrow{
  position: absolute;
  left: 50px;
  top: 55px;
}

.right__Content > .title a{
  display: none;
}

.goal__progress svg {
  width: 80px;
  height: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%) ;
}


.center__content{
  display: grid;
  grid-template-columns: 1fr repeat(1 , minmax(0 ,5fr));
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #36CADB;
  border-radius: 20px;

}




@media (max-width : 1300px) {
  .contacts{
    grid-template-columns: 1fr 1fr;
  }

  .chatting{
    grid-template-columns: 1fr;
  }
  .notes__div textarea{
    height: 400px;
  }
}


@media (max-width : 1200px) {

}

@media (max-width:1100px) {
  .main__body{
    grid-template-columns: 1fr 3fr;
  }

  .charts{
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .addComment{
    width: 80%;
    margin: auto;
    margin-top: 32px;
  }
}

@media (max-width : 1000px) {
  .sidebar{
    display: none;
  }

  .fa-bars{
    display: block;
  }
  .videocall .text{
    display: none;
  }
  a.text{
    display: none;
  }
  .videocall i{
    margin-right: 0;
  }
  .main__body{
    grid-template-columns: 1fr;
  }
}

@media (max-width : 750px) {
  .center__content{
    grid-template-columns: repeat(1 , minmax(0 , 1fr));
  }
  .inner__sidebar{
    display: none;
  }

  .right__Content > .title a{
    display: block;
  }

  .videocall{
    margin-right: 0;
  }

  .profile{
    border: 0;
  }

}

@media (max-width : 525px) {
  .center__content{
    margin: 16px;
  }

  .profile__image{
    margin-left: 8px;
  }

  .logo .left__side img{
    width: 150px;
  }

  .content{
    padding: 32px 16px;
  }
}

@media (max-width: 424px) {
  .goal__progress{
    grid-template-columns: 1fr;
  }

  .projects{
    grid-template-columns: 1fr;
  }

  .contacts{
    grid-template-columns: 1fr;
  }
}
